/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #EDD4FF;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #797d82;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #686b70;
    transition: 150ms;
}