.active {
  background-color: #e8f0fe !important;
  color: #9173e9 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components {
  .cus-shadow-sm {
    box-shadow: rgba(0, 0, 0, 0.148) 0px 3px 8px;
  }

  .cus-shadow-lg {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  /* .active{
    @apply bg-primary-300 text-primary-100
  } */

  .drop {
    @apply bg-[#F4FBFF] absolute cus-shadow-lg w-[370px] h-[250px] z-10 right-[-15px] top-[45px] text-sm rounded-3xl  duration-300 ;
  }

  .change-password-drop {
    @apply absolute bg-white cus-shadow-sm w-[250px] rounded-3xl z-20 right-[-30px] top-[45px] text-sm  duration-300 origin-top-right;
  }
  .delete-contact-drop {
    @apply absolute bg-white cus-shadow-sm w-[250px] rounded-xl z-20 right-[100x] top-[250px] text-sm  duration-300 origin-top-right;
  }

  @media screen and (max-width:600px) {
    .drop {
      @apply bg-[#F4FBFF] absolute cus-shadow-lg w-[300px] h-[250px] z-10 -right-[10px] top-[45px] text-sm rounded-3xl  duration-300 origin-top;
    }

    .change-password-drop {
      @apply absolute bg-white cus-shadow-sm w-[250px] rounded-3xl z-20 right-[-30px] top-[45px] text-sm  duration-300 origin-top-right;
    }
    .delete-contact-drop {
      @apply absolute bg-white cus-shadow-sm w-[220px] rounded-xl z-20 right-[10px] top-[45px] text-sm  duration-300 origin-top-right;
    }
}
}
